body {
    text-align: center;
    padding: 0px;
    margin:0px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:powderblue;
}

* {
    box-sizing: border-box;
}


#slidercontainer {
    height:500px;
    width:1000px;
    margin: auto;
    margin-top:80px;
    overflow: hidden;
    border:6px solid black;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}


#slider {


    height: 500px;
    width:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    position:absolute;

     
}

#slider > div {
    height: 500px;
    width: 1000px;
}

img.slide {
    height: 100%;
    width:1000px;
 
}

#slide1 {
    background-image: url("img/photo1.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
}

#slide2 {
    background-image: url("img/photo2.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
}

#slide3 {
    background-image: url("img/photo3.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
}

#slide4 {
    background-image: url("img/photo4.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
}

h1.slide {
    margin: auto;
    margin-top:250px;
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    width: fit-content;
}

p.slide {
    margin: auto;
    margin-top:10px;
    font-size:14px;
    letter-spacing: 3px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    width:80%;
}

#btns {
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}

button {
    height:20px;
    width:20px;
    border:2px solid black;
    cursor: pointer;
    background-color:powderblue;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

button:hover {
    background-color: black;
    color: powderblue;
    transition:300ms;
}

button:active {
    transform: scale(0.9);
}